{% extends "base.html" %}

{% block title %} Message sent successfuly | Whisper {% endblock %}

{% block content %}
<div class="min-vh-100 bg-white d-flex justify-content-center align-items-center">
    <div class="text-success d-flex flex-column align-items-center">
        <i style="width: 12rem; height: 12rem;">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>              
        </i>
        <h2>Your message was sent successfuly</h2>
    </div>
</div>
{% endblock %}
