<div class="p-4">
    <div class="d-flex flex-column justify-content-center align-items-center py-4 border-top border-bottom">
        <i class="mb-2" style="width: 6rem; height: 6rem">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z" />
            </svg>
        </i>
        <h3 class="text-secondary">
            You didn't send any messages.
        </h3>
        <p class="my-0 mx-auto w-75 text-center text-secondary">
            Your sent messages to the other users will be saved here. You can unsend them as well.
        </p>
    </div>
</div>
